.dashboard {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    animation: tuiReveal var(--tui-duration);

    &__top {
        display: flex;
        gap: 1rem;
        width: 100%;
    }
    
    &__top-search {
        width: 100%;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}