<main class="dashboard">
    <section class="dashboard__top">
        <button
            tuiIconButton
            icon='tuiIconUndoLarge'
            appearance='secondary'
            size='m'
            (click)='goToMain()'> 
        </button>
        <app-search
            [search]='search' 
            class="dashboard__top-search"
            tuiTextfieldSize='m'>
        </app-search>
        <button
            tuiIconButton
            icon='tuiIconLogoutLarge'
            appearance='secondary'
            size='m'
            (click)='signOut()'> 
        </button>
    </section>

    <section class="dashboard__bottom">
        <board class="dashboard__board">
            <div *ngFor='let folder of folders | async | filter: (searchText | async)'>
                <folder
                    [folder]=folder
                    (edit)='editFolder($event)'
                    (remove)='removeItem($event)'
                    (open)='openFolder($event)'>
                </folder>
            </div>
            <div *ngFor='let bookmark of bookmarks | async | filter: (searchText | async)'>
                <bookmark 
                    [bookmark]=bookmark
                    (edit)='editBookmark($event)'
                    (remove)='removeItem($event)'>
                </bookmark>
            </div>
        </board>
        <button
            [disabled]='totalItems | async | isLimitReached: 19'
            tuiIconButton
            icon='tuiIconPlusLarge'
            appearance='primary'
            size='m'
            (click)='openDialog()'> 
        </button>
    </section>
</main>