<a 
    [href]="bookmark.url"
    target="_blank"
    id="link">
    <tui-island
        class="card"
        (mouseenter)='showMenuToggle()'
        (mouseleave)='showMenuToggle()'>
        <span
            class="card__title">
            {{ bookmark.title }}
        </span>
        <tui-avatar
            size='s'
            [text]='bookmark.title'
            [rounded]=true
            [avatarUrl]="avatarURL">
        </tui-avatar>
        <div class="card__toggle-container">
            <tui-svg
                *ngIf='menuToggle' 
                class="card__toggle"
                src='tuiIconChevronDown'
                (click)='openMenuToggle($event)'>
            </tui-svg>
        </div>
    </tui-island>
</a>

<div
    *ngIf='menuOpen'
    class="card__dropdown"
    (mouseleave)='openMenuToggle($event)'
    (touchmove)='openMenuToggle($event)'>
    <span 
        class="card__dropdown-item"
        (click)='editBookmark()'>
        Edit
    </span>
    <hr>
    <span 
        class="card__dropdown-item"
        (click)='removeBookmark()'>
        Remove
    </span>
</div>