<main class="dialog-content">
    <span class="dialog-content__header">{{ dialogData.itemDetails.type }}</span>
    <form
        [formGroup]='addItemForm'
        (ngSubmit)='submitDialog()'
        class="dialog-content__form">
        <section 
            formArrayName='formFields'
            *ngFor='let control of formFields.controls; let i = index'
            class="dialog-content__form-input">
            <tui-input
                [formControlName]='i'
                tuiTextfieldSize='m'>
                {{ formFieldLabels[i] }}
            </tui-input>
            <tui-error *ngIf="i === 1 && isValidURL" error="URL must contain 'http://' or 'https://'"></tui-error>
        </section>
        <section class="dialog-content__form-button">
            <button
                tuiButton
                appearance='whiteblock-active'
                type="submit"
                size='m'
                [disabled]='!addItemForm.valid'>
                {{ dialogData.action }}
            </button>
        </section>
    </form>
</main>