<section class="container">

    <div 
        *ngIf='!isSignedUp' 
        (click)='changeToSingUp()'
        class="back-button">
        <tui-svg src='tuiIconArrowLeftLarge'></tui-svg>
    </div>

    <span class="text-outside mt">Welcome to FavsBase! <br> Simple way to organize your favourite websites</span>

    <form 
        [formGroup]='authForm'
        (ngSubmit)='onSubmit()'
        class="form-container">

        <tui-input
            formControlName='email'
            class="form-container__email">
            Email
        </tui-input>
        <tui-error *ngIf='emailErrors.required' [error]="validationErrorMessages.email.required"></tui-error>
        <tui-error *ngIf='emailErrors.email' [error]="validationErrorMessages.email.invalid"></tui-error>

        <tui-input-password
            formControlName='pw' 
            class="form-container__pw">
            Password
        </tui-input-password>
        <tui-error *ngIf='pwErrors.required' [error]="validationErrorMessages.pw.required"></tui-error>
        <tui-error *ngIf='pwErrors.length' [error]="validationErrorMessages.pw.length"></tui-error>

        <button 
            *ngIf='isSignedUp'
            tuiButton
            type="submit"
            [disabled]='!authForm.valid'>
            Sign in
        </button>
        <button 
            *ngIf='!isSignedUp'
            tuiButton
            type="submit"
            [disabled]='!authForm.valid'>
            Sign up
        </button>        
    </form>

    <span 
        *ngIf='isSignedUp'
        class="text-outside mb">
        First time here? <a (click)="changeToSingUp()">Sign up</a> or use <a (click)="onDemo()">Demo mode</a>
    </span>

    <tui-notification 
        *ngIf='authError | async'
        class="notification"
        [status]="$any('error')">
        {{ notificationText }}
    </tui-notification>

</section>