<section class="dialog-content">
    <span class="dialog-content__header">Choose what to add...</span>
    <div class="dialog-content__controls">
        <button
            tuiIconButton
            size='l'
            icon='tuiIconBookmarkLarge'
            appearance='whiteblock-active'
            (click)='openBookmarkDialog()'>
        </button>
        <button
            tuiIconButton
            size='l'
            icon='tuiIconFolderLarge'
            appearance='whiteblock-active'
            (click)='openFolderDialog()'>
        </button>
    </div>
</section>