.board {
    width: clamp(20rem, 50vw, 35rem);
    height: 25rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media screen and (max-width: 1024px) {
    .board {
        height: 30rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}